In [1]:
import pandas as pd
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\antonio\desktop\eda_bank_marketing_analysis\venv\lib\site-packages (3.1.5)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: et-xmlfile in c:\users\antonio\desktop\eda_bank_marketing_analysis\venv\lib\site-packages (from openpyxl) (2.0.0)

In [2]:
ruta = r"C:\Users\antonio\Desktop\EDA_Bank_Marketing_Analysis\data"

In [3]:
df1 = pd.read_csv(ruta + r"\bank-additional.csv")
df2 = pd.read_excel(ruta + r"\customer-details.xlsx")

In [4]:
print(df1.columns)
print(df2.columns)

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'housing', 'loan', 'contact', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'date', 'latitude',
       'longitude', 'id_'],
      dtype='object')
Index(['Unnamed: 0', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer',
       'NumWebVisitsMonth', 'ID'],
      dtype='object')

In [5]:
df2.rename(columns={"ID": "id_"}, inplace=True)

In [6]:
print(df1.columns)
print(df2.columns)

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'housing', 'loan', 'contact', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'date', 'latitude',
       'longitude', 'id_'],
      dtype='object')
Index(['Unnamed: 0', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer',
       'NumWebVisitsMonth', 'id_'],
      dtype='object')

In [7]:
print(df1["id_"].nunique(), df2["id_"].nunique())  # Cantidad de valores únicos
print(df1["id_"].head(), df2["id_"].head())  # Ver primeras filas

43000 20115
0    089b39d8-e4d0-461b-87d4-814d71e0e079
1    e9d37224-cb6f-4942-98d7-46672963d097
2    3f9f49b5-e410-4948-bf6e-f9244f04918b
3    9991fafb-4447-451a-8be2-b0df6098d13e
4    eca60b76-70b6-4077-80ba-bc52e8ebb0eb
Name: id_, dtype: object 0    089b39d8-e4d0-461b-87d4-814d71e0e079
1    e9d37224-cb6f-4942-98d7-46672963d097
2    3f9f49b5-e410-4948-bf6e-f9244f04918b
3    9991fafb-4447-451a-8be2-b0df6098d13e
4    eca60b76-70b6-4077-80ba-bc52e8ebb0eb
Name: id_, dtype: object

In [8]:
ids_comunes = df1["id_"].isin(df2["id_"]).sum()
print(f"Número de IDs en df2 que están en df1: {ids_comunes} de {df2['id_'].nunique()}")

Número de IDs en df2 que están en df1: 20018 de 20115

In [9]:
ids_faltantes = df2[~df2["id_"].isin(df1["id_"])]  # Filtramos los que no están en df1
print(f"IDs en df2 que NO están en df1: {len(ids_faltantes)}")
print(ids_faltantes.head())  # Ver los primeros valores faltantes

IDs en df2 que NO están en df1: 97
     Unnamed: 0  Income  Kidhome  Teenhome Dt_Customer  NumWebVisitsMonth  \
119         119  102425        0         1  2012-11-09                 25
120         120   95045        1         2  2012-09-20                 32
121         121   64631        1         2  2012-10-05                 13
122         122   28884        2         2  2012-09-10                 11
123         123  102262        0         2  2012-09-10                 23

                                      id_
119  01348114-d159-4dbf-9b3d-cf682d9150c7
120  0d9c6d8c-08ac-45b0-8a13-9db62596d88d
121  044183b7-4e50-4b68-9e9e-cd45f37144d5
122  dd697c4c-dbbc-4178-b519-997f82e4ef78
123  ebb5a7da-41b6-43e7-a392-16dee3631ebd

In [10]:
df_merged = df1.merge(df2, on="id_", how="left")
print(df_merged.info())
print(df_merged.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43000 entries, 0 to 42999
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0_x       43000 non-null  int64
 1   age                37880 non-null  float64
 2   job                42655 non-null  object
 3   marital            42915 non-null  object
 4   education          41193 non-null  object
 5   default            34019 non-null  float64
 6   housing            41974 non-null  float64
 7   loan               41974 non-null  float64
 8   contact            43000 non-null  object
 9   duration           43000 non-null  int64
 10  campaign           43000 non-null  int64
 11  pdays              43000 non-null  int64
 12  previous           43000 non-null  int64
 13  poutcome           43000 non-null  object
 14  emp.var.rate       43000 non-null  float64
 15  cons.price.idx     42529 non-null  object
 16  cons.conf.idx      43000 non-null  object
 17  euribor3m          33744 non-null  object
 18  nr.employed        43000 non-null  object
 19  y                  43000 non-null  object
 20  date               42752 non-null  object
 21  latitude           43000 non-null  float64
 22  longitude          43000 non-null  float64
 23  id_                43000 non-null  object
 24  Unnamed: 0_y       20018 non-null  float64
 25  Income             20018 non-null  float64
 26  Kidhome            20018 non-null  float64
 27  Teenhome           20018 non-null  float64
 28  Dt_Customer        20018 non-null  datetime64[ns]
 29  NumWebVisitsMonth  20018 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(5), object(12)
memory usage: 9.8+ MB
None
   Unnamed: 0_x   age        job  marital    education  default  housing  \
0             0   NaN  housemaid  MARRIED     basic.4y      0.0      0.0
1             1  57.0   services  MARRIED  high.school      NaN      0.0
2             2  37.0   services  MARRIED  high.school      0.0      1.0
3             3  40.0     admin.  MARRIED     basic.6y      0.0      0.0
4             4  56.0   services  MARRIED  high.school      0.0      0.0

   loan    contact  duration  ...                date  latitude  longitude  \
0   0.0  telephone       261  ...       2-agosto-2019    41.495    -71.233
1   0.0  telephone       149  ...  14-septiembre-2016    34.601    -83.923
2   0.0  telephone       226  ...     15-febrero-2019    34.939    -94.847
3   0.0  telephone       151  ...   29-noviembre-2015    49.041    -70.308
4   1.0  telephone       307  ...       29-enero-2017    38.033   -104.463

                                    id_  Unnamed: 0_y    Income Kidhome  \
0  089b39d8-e4d0-461b-87d4-814d71e0e079           0.0  161770.0     1.0
1  e9d37224-cb6f-4942-98d7-46672963d097           1.0   85477.0     1.0
2  3f9f49b5-e410-4948-bf6e-f9244f04918b           2.0  147233.0     1.0
3  9991fafb-4447-451a-8be2-b0df6098d13e           3.0  121393.0     1.0
4  eca60b76-70b6-4077-80ba-bc52e8ebb0eb           4.0   63164.0     1.0

  Teenhome Dt_Customer NumWebVisitsMonth
0      0.0  2012-04-04              29.0
1      1.0  2012-12-30               7.0
2      1.0  2012-02-02               5.0
3      2.0  2012-12-21              29.0
4      2.0  2012-06-20              20.0

[5 rows x 30 columns]